.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
  } 
  
  
.text-container {
  max-width: 100%;
}

.section-title {
  color: #4875b4;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.main-heading {
  color: #242424;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 1rem;
}

.sub-heading {
  color: #242424;
  font-size: 24px;
  font-weight: 500;
}

.logo-container {
  width: 263.85px;
  height: 350px;
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}

/* Fade-In animation styles */
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
